{% extends 'paginainicial.html' %}
{% load widget_tweaks %}

{% block conteudo %}

<link rel="stylesheet" type="text/css"
href="/static/css/estilo.css">

<form method="post" class="form-signin">
	{% csrf_token %}
	{{ form.as_p}}
	<button type="submit">Autenticar</button>
</form>

<br/>
<br/>
<h4 class="h3 mb-3 font-weight-normal">Login</h4> 
<br/>

<label for="inputEmail" class="sr-only"></label> <p class="auten">Email</p> <p class="auten"> {{ form.username }}</p>

<label for="inputPassword" class="sr-only"></label>
<p class="auten"> Senha</p> <p class="auten"> {{ form.password }} </p>

<br/>

<div class="checkbox mb-3">
</div>
<p class="auten"><a class="auten" href="{% url 'usuario' %}"> <button class="btn-prog btn-lg btn-primary" type="submit">Entrar</button></a></p>


{% endblock %}
</form>

