{% extends 'index.html' %}
{% load widget_tweaks %}

{% block conteudo %}

<link rel="stylesheet" type="text/css"
href="/static/css/estilo.css">

<form method="post" class="form-signin">
<br/>
<br/>
	{% csrf_token %}

<label for="inputPassword" class="sr-only"></label>
<h4 class="h3 mb-3 font-weight-normal"> Login </h4> <p class="auten"> {{ form.as_p }} </p>

<br/>

<div class="checkbox mb-3">
</div>
<p class="auten"><a class="auten" href="{% url 'usuario' %}"> <button class="btn-prog btn-lg btn-primary" type="submit">Entrar</button></a></p>
</form>

{% endblock %}


