{% extends 'index.html' %}
{% load widget_tweaks %}
{% load static %}

{% block conteudo %}

<link rel="stylesheet" type="text/css"
href="/static/css/estilo.css">

<div class="row">
	{% for lista in lista_Produto %}
		<div class="col-2 text-center"> 
	    	{{lista.nome}}
	        {{lista.valor}}
	        <img src="/foto/{{lista.foto}}" class="img-fluid" width="150px" height="150px">
	        <p class="btn btn-primary">{{lista.curtidas}} curtidas</p>
        </div>

	{% empty %}
    	Nenhum produto foi cadastrado
	{% endfor %}


</div>
<p><a href="{% url 'produto' %}">Cadastrar Produto</a></p>

{% endblock %}
