{% extends 'index.html' %}
{% load widget_tweaks %}
{% load static %}


{% block conteudo %}
<link rel="stylesheet" type="text/css"
href="{% static 'css/estilo.css' %}">

<div class="container-fluid">

<form  method="POST" enctype="multipart/form-data">
        {% csrf_token %}

          <div class="control-group form-group">
            <div class="controls">
           {{form.nome.label}}:{{form.nome|add_class:"form-control"}} 
            </div>
          </div>

          <div class="control-group form-group">
            <div class="controls">
              {{form.valor.label}}:{{form.valor|add_class:"form-control"}}
              <p class="help-block"></p> 
            </div>
          </div>

          <div class="control-group form-group">
            <div class="controls">
              {{form.foto.label}}:{{form.foto|add_class:"form-control"}}
                <p class="help-block"></p>
            </div>
          </div>


          <button type="submit" class="btn btn-primary" id="sendMessageButton">Salvar</button></a></p>
    </form>

</div>

 <nav class="navbar fixed-bottom navbar-light bg-light">
  <p class="centro">Deixe Seu Estilo Florescer!</p>
  <p class="ender">Rua Dom Nivaldo Monte, 09, Centro, Goianinha/Rn.</p>
</nav>

{% endblock %}