.temp{
	font-weight: bold;
	font-size: 18px;
}
.canto{
	border-radius: 15px
}
.b{
	background-image: linear-gradient(rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0.12)), url(imagem1.jpg);
	background-color: white;
	display: block;
	padding: 0 !important;
}
.bout{
	font-family: Garamond;
	font-size: 80px;
	color: black;
}
.auten {
	text-align: center;
	font-weight: bold;
	text-decoration: purple;
}
nav.bg-dark{
	background: purple !important;
	margin-bottom: 20px;
}
h4{
	text-align: center;
	font-weight: bolder;
}
p{
	text-align: center;
	font-weight: bolder;
}
.btn-prog, .btn-danger{
	background: purple !important;
}
.roupa{
	text-align: center
}
btn btn-primary{
	color: purple !important;
	background: purple !important;
}
.list{
	color: black;
}
nav.bg-light{
	background: purple !important;
	max-height: 55px;
	margin-top: 50px;
}
.gern{
	color: purple;
}
.ender, .centro{
	color: white;
	font-size: 20px;
}